.todo-far-future {
	background-color: green;
}
.todo-near-future {
	background-color: yellow;
}
.todo-present {
	background-color:red;
}
.todo-past {
	background-color: lightgray;
	text: gray;
}
.todo-timeless {
}
